$background-color: #F3F3F3;
$color: #333;

* {
  box-sizing: border-box;
}

body {
  //background-color: $background-color;
  background: url(images/bridge_large.jpg) no-repeat center center fixed;
  background-size: cover;
  color: $color;
  //filter: blur(20px);
  opacity: 0.4;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 40%;
  height: 50%;

  color: #FFF;
  padding: 20px;
  text-align: center;
  h1 {
    font-size: 3em;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
  }
}