// $mq-mobile-portrait    : 320px !default;
// $mq-mobile-landscape   : 480px !default;
// $mq-tablet-portrait   : 640px !default;  -- changed because i want my blog content is around this wide, not 768. you should let content & design determine your breakpoints
// $mq-tablet-landscape : 1024px !default;
// $mq-desktop    : 1382px !default;
 
$mq-mobile-portrait : 20em !default;
$mq-mobile-landscape  : 30em !default;
$mq-tablet-portrait : 40em !default;
$mq-tablet-landscape  : 64em !default;
$mq-desktop   : 86.375em !default;

// Float clearing clearfix mixin
@mixin clear() {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

// Offscreen Text
@mixin linkTextOffscreen() {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    font-size: 0;
    text-align: start;
}

// :hover, :active, :focus styles
@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

// Media query breakpoints
@mixin breakpoint($point) {
  @if $point == mobilelandscape {
    @media only screen and (min-width: $mq-mobile-landscape) { @content; }
  } 
  @else if $point == tabletportrait {
    @media only screen and (min-width: $mq-tablet-portrait) { @content; }
  }
  @else if $point == tabletlandscape {
    @media only screen and (min-width: $mq-tablet-landscape) { @content; }
  }
  @else if $point == desktop {
    @media only screen and (min-width: $mq-desktop) { @content; }
  }
}

