<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>Homepage of Steve Hernandez</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="webfonts/ss-social-regular.css" />
    <link rel="stylesheet" href="webfonts/ss-standard.css" />
    <script type="text/javascript" src="//use.typekit.net/eeg3xrc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
