<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="style.css" type="text/css" media="screen">
        <link rel="stylesheet" type="text/css" href="components/normalize-css/normalize.css">
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="components/prefix-free/prefixfree.js"></script>
        <script type="text/javascript" src="js/matchmedia.js"></script>
        <script type="text/javascript" src="js/picturefill.js"></script>
        <script type="text/javascript" src="js/srcset.min.js"></script>
        <title>WebPrototype Starter Kit</title>
    </head>
    <body>
        <div class="center">
            <h1>WebPrototype</h1>
            <p>Boilerplate for prototyping<p>
            <!-- <div class="img-container">
                <span data-picture data-alt="Sample of how picturefill is used">
                    <span data-src="dist/assets/img/converse-small.jpg"></span>
                    <span data-src="dist/assets/img/converse-medium.jpg" data-media="(min-width: 640px)"></span>
                    <span data-src="dist/assets/img/converse-large.jpg" data-media="(min-width: 1024px)"></span>
                </span>

                <noscript><img src="dist/assets/img/converse-small.jpg" alt="Sitting at the park"></noscript>
            </div>
            <p>Images are from <a href="http://unsplash.com/">Unsplash</a></p>
        </div> -->
    </body>
</html>
