<aside class="sidebarNav">
  <div class="logo">
    <a href="#" class="ss-standard ss-delete"><h3>Steve Hernandez</h3></a>
  </div>
  <div class="navMenu">
    <ul>
      <li><a href="#" class="ss-standard ss-home">Home</a></li>
      <li><a href="#" class="ss-standard ss-picture">Portfolio</a></li>
      <li><a href="#" class="ss-standard ss-newspaper">Archive</a></li>
      <li><a href="#" class="ss-standard ss-user">About</a></li>
    </ul>
  </div>
  <div class="socialContainer">
    <ul>
      <li><a href="#" class="ss-icon ss-social-regular">Twitter</a></li>
      <li><a href="#" class="ss-icon ss-social-regular">Instagram</a></li>
      <li><a href="#" class="ss-icon ss-social-regular">Dribbble</a></li>
      <li><a href="#" class="ss-icon ss-social-regular">Octocat</a></li>
    </ul>
  </div>
</aside>

